@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --main-color: rgb(0, 255, 255);
  --bg-blue: rgba(0, 255, 255, 0.2);
  --bg-red: rgba(255, 0, 0, 0.2);
  --lines-color: rgb(51, 51, 51);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
html:has(#toggle-theme:checked) {
  color-scheme: light;
  --bg-blue: rgba(0, 255, 255, 0.5);
  --bg-red: rgba(255, 0, 0, 0.5);
  background-color: #888;
}
html:has(#toggle-theme:checked) button.ghost,
html:has(#toggle-theme:checked) label.ghost {
  background: rgba(0, 0, 0, 0.1);
}
html:has(#toggle-theme:checked) button.ghost svg,
html:has(#toggle-theme:checked) label.ghost svg {
  color: #000;
}
html:has(#toggle-theme:checked) button.ghost:hover svg,
html:has(#toggle-theme:checked) label.ghost:hover svg {
  color: var(--main-color);
}
html:has(#toggle-theme:checked) nav {
  font-weight: 600;
}

@property --fx {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 9%;
}
@property --fy {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 15%;
}
@property --mx {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 90%;
}
@property --my {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 84%;
}
body {
  --thickness: 1px;
  --size: 35px;
  --end: calc(var(--size) + var(--thickness));
  --fx: 9%;
  --fy: 15%;
  --mx: 90%;
  --my: 84%;
  min-height: 100vh;
  background-image: repeating-linear-gradient(90deg, var(--lines-color) 0px var(--thickness), transparent var(--thickness) var(--end)),
    repeating-linear-gradient(0deg, var(--lines-color) 0px var(--thickness), transparent var(--thickness) var(--end)), radial-gradient(circle at var(--fx) var(--fy), var(--bg-blue), transparent 200px),
    radial-gradient(circle at var(--mx) var(--my), var(--bg-red), transparent 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: F 15s ease infinite alternate, M 12s ease infinite alternate;
  padding-bottom: 33px;
}

@keyframes F {
  0% {
    --fx: 9%;
    --fy: 15%;
  }
  16% {
    --fx: 91%;
    --fy: 15%;
  }
  32% {
    --fx: 9%;
    --fy: 15%;
  }
  48% {
    --fx: 9%;
    --fy: 42.5%;
  }
  64% {
    --fx: 91%;
    --fy: 42.5%;
  }
  80% {
    --fx: 9%;
    --fy: 42.5%;
  }
  100% {
    --fx: 9%;
    --fy: 85%;
  }
}
@keyframes M {
  0% {
    --mx: 90%;
    --my: 84%;
  }
  25% {
    --mx: 90%;
    --my: 16%;
  }
  50% {
    --mx: 45%;
    --my: 45%;
  }
  75% {
    --mx: 10%;
    --my: 16%;
  }
  100% {
    --mx: 10%;
    --my: 84%;
  }
}
body,
button {
  font-family: "Raleway", system-ui;
}

button,
label,
a {
  cursor: pointer;
}

button,
label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}
button.ghost,
label.ghost {
  aspect-ratio: 1;
  width: 33px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
button:hover svg,
label:hover svg {
  width: 100%;
  height: 100%;
  color: var(--main-color);
  transition: 222ms;
}

a {
  --duration: 222ms;
  color: inherit;
  text-decoration: none;
}
a.animated {
  position: relative;
  padding: 9px;
  border-radius: 100vw;
  transition: var(--duration);
}
a.animated:hover {
  background: rgba(255, 255, 255, 0.1);
  color: var(--main-color);
}
a.animated:hover::before {
  width: 100%;
}
a.animated:hover::after {
  opacity: 1;
  pointer-events: visible;
  transform: translateX(-50%) scale(1);
  transition: var(--duration);
}
a.animated::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--main-color);
  transition: var(--duration);
  pointer-events: none;
}
a.animated::after {
  content: attr(data-tooltip);
  color: #fff;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  background: rgb(31, 41, 55);
  border-radius: 9px;
  transition: var(--duration);
  padding: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 500px) {
  header h3 {
    margin-inline: auto;
    text-align: center;
  }
}
header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 12px;
  max-width: 95%;
  flex-wrap: wrap;
}
header h3 {
  transition: 222ms;
}
.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 90%;
  max-width: 1200px;
  margin-top: 55px;
}

.card {
  --card_padding_inline: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-image: linear-gradient(to right, #2a2a2a, #131313);
  padding: 12px var(--card_padding_inline);
  border: 2px solid white;
  border-radius: 12px;
  color: white;
}
main .first_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .right_side {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .right_side .row {
  display: flex;
  gap: 12px;
}

main .right_side .row a {
  width: 33px;
  height: 33px;
  background: none;
  border: 2px solid white;
  border-radius: 7px;
  padding: 4px;
  transition: 222ms;
}
main .right_side .row a:hover {
  border: 2px solid var(--main-color);
}
main .right_side .row a svg {
  stroke: white;
  fill: white;
  color: white;
  transition: 222ms;
}
main .right_side .row a:hover svg {
  stroke: var(--main-color);
  fill: var(--main-color);
  color: var(--main-color);
}
main .card .download_btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--main-color);
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 9px 9px 0 rgba(0, 255, 255, 0.8);
  transition: 222ms;
}
main .card .download_btn:hover {
  transform: translateY(-7px);
}
main .card .download_btn span {
  color: black;
  font-weight: bold;
}
main .card .download_btn svg {
  width: 22px;
  color: black;
}
main .card .location {
  display: flex;
  gap: 12px;
}
main .card .location svg {
  width: 22px;
}
main .card .map {
  display: flex;
  width: 100%;
  gap: 12px;
}
main .card .map img {
  width: calc(50% - (var(--card_padding_inline) / 2));
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}
main .card .map iframe {
  width: calc(50% - (var(--card_padding_inline) / 2));
  height: 400px;
  border-radius: 12px;
}

@media (max-width: 640px) {
  main .card .map {
    flex-direction: column;
  }

  main .card .map img,
  main .card .map iframe {
    width: 100%;
  }
}
